* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #ECEFF1;
}

.container {
    margin: 5% 15%; 
}

#tabularData, #spinner {
    display: none;
}

#importWeather, #editSelectionBtn, #importLocation {
    margin-bottom: 10px;
}

#buttons {
    width: 30%;
    margin: 0 35%;
}

#s_all {
    font-weight: bold;
}

.form-check {
    left: 25px;
}

table {
    width: 100%;
    min-width: 200px;
    max-width: 300px;
    border-collapse: collapse;
    margin-bottom: 40px;
}

tr:nth-child(odd) {
    background: #eaeaea;
}

h1 {
    font-size: 3vw;
}

h2 {
    font-size: 2vw;
}

th, td {
    width: 50%;
    padding-left: 5px;
}

tr {
    height: 30px;
}

#tr_1 {
    background: #c2bbff;
    color: white;
    height: 40px;
    font-size: 20px;
}

#map {
    width:300px;
    height:500px;
    background:#383826;
    margin-bottom: 10px;
    display: none;
}