* {
    margin: 0px;
    padding: 0px;
}

.container {
    margin: 5% 15%; 
}

#tabularData, #spinner {
    display: none;
}

#importWeather, #editSelectionBtn, #importLocation {
    margin-bottom: 10px;
}

#buttons {
    width: 30%;
    margin: 0 35%;
}

table {
    width: 100%;
    min-width: 200px;
    max-width: 700px;
    border-collapse: collapse;
    margin-bottom: 40px;
}

tr:nth-child(odd) {
    background: #ffb04994;
    text-align: center;
}

th, td {
    width: 50%;
    text-align: center;
}

tr {
    height: 30px;
}

#tr_1 {
    background: #5b49ff;
    color: white;
    height: 40px;
    font-size: 20px;
}

#map {
    width:600px;
    height:400px;
    background:#383826;
    margin-bottom: 10px;
    display: none;
}